@mixin setup-icon-font streamline-custom;

:global {
  [class^="sl-custom-"]:before, [class*=" sl-custom-"]:before {
    @mixin icon-font-properties streamline-custom;
  }

  .sl-custom-add-3:before {
    content: '\e800';
    margin-top: 0.25em; /* this is to center the icon */
  } /* '' */
  .sl-custom-anchor-point-1:before { content: '\e801'; } /* '' */
  .sl-custom-arrow-67:before { content: '\e802'; } /* '' */
  .sl-custom-arrow-68:before { content: '\e803'; } /* '' */
  .sl-custom-arrow-circle-29:before { content: '\e804'; } /* '' */
  .sl-custom-arrow-circle-30:before { content: '\e805'; } /* '' */
  .sl-custom-atm:before { content: '\e806'; } /* '' */
  .sl-custom-bank-2:before { content: '\e807'; } /* '' */
  .sl-custom-bed:before { content: '\e808'; } /* '' */
  .sl-custom-building-2:before { content: '\e809'; } /* '' */
  .sl-custom-building-3:before { content: '\e863'; } /* '' */
  .sl-custom-business-chart-2:before { content: '\e80a'; } /* '' */
  .sl-custom-car-2:before { content: '\e80b'; } /* '' */
  .sl-custom-cheese:before { content: '\e80c'; } /* '' */
  .sl-custom-clipboard-3:before { content: '\e80d'; } /* '' */
  .sl-custom-court:before { content: '\e80e'; } /* '' */
  .sl-custom-credit-card:before { content: '\e80f'; } /* '' */
  .sl-custom-cross-1:before { content: '\e810'; } /* '' */
  .sl-custom-delete-3:before { content: '\e811'; } /* '' */
  .sl-custom-dollar-bag:before { content: '\e812'; } /* '' */
  .sl-custom-dollar-currency-3:before { content: '\e813'; } /* '' */
  .sl-custom-driller:before { content: '\e814'; } /* '' */
  .sl-custom-edit-2:before { content: '\e815'; } /* '' */
  .sl-custom-file-favorite-2:before { content: '\e816'; } /* '' */
  .sl-custom-filter:before { content: '\e817'; } /* '' */
  .sl-custom-hammer-1:before { content: '\e818'; } /* '' */
  .sl-custom-hand-coin:before { content: '\e819'; } /* '' */
  .sl-custom-hand-like-1:before { content: '\e81a'; } /* '' */
  .sl-custom-house-2:before { content: '\e81b'; } /* '' */
  .sl-custom-house-4:before { content: '\e81c'; } /* '' */
  .sl-custom-log-out-1:before { content: '\e81d'; } /* '' */
  .sl-custom-magnifier:before { content: '\e81e'; } /* '' */
  .sl-custom-male:before { content: '\e81f'; } /* '' */
  .sl-custom-marker-1:before { content: '\e820'; } /* '' */
  .sl-custom-money:before { content: '\e821'; } /* '' */
  .sl-custom-percent-1:before { content: '\e822'; } /* '' */
  .sl-custom-pie-chart-1:before { content: '\e823'; } /* '' */
  .sl-custom-piggy-bank:before { content: '\e824'; } /* '' */
  .sl-custom-plane-paper-1:before { content: '\e825'; } /* '' */
  .sl-custom-receipt-4:before { content: '\e826'; } /* '' */
  .sl-custom-roller:before { content: '\e827'; } /* '' */
  .sl-custom-script:before { content: '\e828'; } /* '' */
  .sl-custom-skull-1:before { content: '\e829'; } /* '' */
  .sl-custom-tag-1:before { content: '\e82a'; } /* '' */
  .sl-custom-truck-1:before { content: '\e82b'; } /* '' */
  .sl-custom-user-2:before { content: '\e82c'; } /* '' */
  .sl-custom-user-setting-2:before { content: '\e82d'; } /* '' */
  .sl-custom-wallet-3:before { content: '\e82e'; } /* '' */
  .sl-custom-zoom-in:before { content: '\e82f'; } /* '' */
  .sl-custom-id-1:before { content: '\e830'; } /* '' */
  .sl-custom-id-5:before { content: '\e831'; } /* '' */
  .sl-custom-check:before { content: '\e832'; } /* '' */
  .sl-custom-coins-1:before { content: '\e833'; } /* '' */
  .sl-custom-mail-box-3:before { content: '\e834'; } /* '' */
  .sl-custom-connection-2:before { content: '\e835'; } /* '' */
  .sl-custom-car-1:before { content: '\e836'; } /* '' */
  .sl-custom-filled-arrow-circle-29:before { content: '\e837'; } /* '' */
  .sl-custom-filled-arrow-circle-30:before { content: '\e838'; } /* '' */
  .sl-custom-chat-1-1:before { content: '\e839'; } /* '' */
  .sl-custom-star-5:before { content: '\e83a'; } /* '' */
  .sl-custom-ambulance:before { content: '\e83b'; } /* '' */
  .sl-custom-question-mark:before { content: '\e83c'; } /* '' */
  .sl-custom-hand-eco:before { content: '\e83d'; } /* '' */
  .sl-custom-flag-1:before { content: '\e83e'; } /* '' */
  .sl-custom-scissor-1:before { content: '\e83f'; } /* '' */
  .sl-custom-stationery-2:before { content: '\e840'; } /* '' */
  .sl-custom-fire:before { content: '\e841'; } /* '' */
  .sl-custom-heart-broken:before { content: '\e842'; } /* '' */
  .sl-custom-present:before { content: '\e843'; } /* '' */
  .sl-custom-mobile-phone-1:before { content: '\e844'; } /* '' */
  .sl-custom-receipt-3:before { content: '\e845'; } /* '' */
  .sl-custom-music-note-3:before { content: '\e846'; } /* '' */
  .sl-custom-television:before { content: '\e847'; } /* '' */
  .sl-custom-hand-card:before { content: '\e848'; } /* '' */
  .sl-custom-beach:before { content: '\e849'; } /* '' */
  .sl-custom-house-1:before { content: '\e84a'; } /* '' */
  .sl-custom-bug-1:before { content: '\e84b'; } /* '' */
  .sl-custom-wireless-router-1:before { content: '\e84c'; } /* '' */
  .sl-custom-campfire:before { content: '\e84d'; } /* '' */
  .sl-custom-gas-station:before { content: '\e84e'; } /* '' */
  .sl-custom-sofa-1:before { content: '\e84f'; } /* '' */
  .sl-custom-watering-can:before { content: '\e850'; } /* '' */
  .sl-custom-shirt-1:before { content: '\e851'; } /* '' */
  .sl-custom-wine:before { content: '\e852'; } /* '' */
  .sl-custom-blood:before { content: '\e853'; } /* '' */
  .sl-custom-yin-yang:before { content: '\e854'; } /* '' */
  .sl-custom-smileys:before { content: '\e855'; } /* '' */
  .sl-custom-train:before { content: '\e856'; } /* '' */
  .sl-custom-bus-1:before { content: '\e857'; } /* '' */
  .sl-custom-car-3:before { content: '\e858'; } /* '' */
  .sl-custom-mountain-bike:before { content: '\e859'; } /* '' */
  .sl-custom-wrench:before { content: '\e85a'; } /* '' */
  .sl-custom-lightbulb-1:before { content: '\e85b'; } /* '' */
  .sl-custom-balance-1:before { content: '\e85c'; } /* '' */
  .sl-custom-academic-cap:before { content: '\e85e'; } /* '' */
  .sl-custom-list-2-1:before { content: '\e85d'; } /* '' */
  .sl-custom-play-2:before { content: '\e85f'; } /* '' */
  .sl-custom-power-1-1:before { content: '\e860'; } /* '' */
  .sl-custom-next-1-1:before { content: '\e861'; } /* '' */
  .sl-custom-user-search-2:before { content: '\e862'; } /* '' */
  .sl-custom-user-add-1:before { content: '\e864'; } /* '' */
  .sl-custom-bank-notes-2:before { content: '\e865'; } /* '' */
  .sl-custom-clock-3:before { content: '\e866'; } /* '' */
  .sl-custom-dollar-currency-2:before { content: '\e867'; } /* '' */
  .sl-custom-library:before { content: '\e868'; } /* '' */
  .sl-custom-edit-3:before { content: '\e869'; } /* '' */
  .sl-custom-percent-up:before { content: '\e86a'; } /* '' */
  .sl-custom-minus-3:before { content: '\e86b'; } /* '' */
  .sl-custom-lock-2:before { content: '\e86c'; } /* '' */
  .sl-custom-files-1:before { content: '\e86d'; } /* '' */
  .sl-custom-sync-2:before { content: '\e86e'; } /* '' */
  .sl-custom-download-3:before { content: '\e86f'; } /* '' */
  .sl-custom-cloud-upload:before { content: '\e870'; } /* '' */
  .sl-custom-bin-2:before { content: '\e871'; } /* '' */
  .sl-custom-document-1:before { content: '\e872'; } /* '' */
  .sl-custom-file-image-1:before { content: '\e873'; } /* '' */
  .sl-custom-file-thumbnail:before { content: '\e874'; } /* '' */
  .sl-custom-file-table:before { content: '\e875'; } /* '' */
  .sl-custom-upload-10:before { content: '\e876'; } /* '' */
  .sl-custom-percent-2:before { content: '\e877'; } /* '' */
  .sl-custom-rocket:before { content: '\e878'; } /* '' */
  .sl-custom-chart-board:before { content: '\e879'; } /* '' */
  .sl-custom-heart-pulse:before { content: '\e87a'; } /* '' */
  .sl-custom-stethoscope:before { content: '\e87b'; } /* '' */
  .sl-custom-car-4:before { content: '\e87c'; } /* '' */
  .sl-custom-information:before { content: '\e87d'; } /* '' */
  .sl-custom-bubble-information-1:before { content: '\e87e'; } /* '' */
}
