@import 'styles/variables.css';

.name {
  margin-top: calc($base-spacing * 10);
  min-height: 2rem;
  font-size: 2rem;
  margin-bottom: calc($base-spacing * 2);
}
.boxInfo {
  min-height: 10rem;
  margin-top: 1rem;
  background-color: white;
  color: $black;
  background-color: rgba(255,255,255,.8);
  padding: calc($base-spacing * 2);
  > div {
    margin-bottom: calc($base-spacing / 2);
  }
  .rating {
    margin-top: $base-spacing;
    position: realtive;
    display: inline;
  }
}
